name: CSharpier
on:
  pull_request:
    types: [opened, reopened]
  push:

jobs:
  check_formatting:
    runs-on: ubuntu-latest
    name: Check Formatting
    steps:
      - uses: actions/checkout@v2
      - run: |
          dotnet tool restore
          dotnet csharpier check .
