# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: very-cool-self-hosted-mbanas

    steps:
      - uses: actions/checkout@v4

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - run: |
          dotnet tool restore
          dotnet csharpier check .

      - name: Install godot version
        run: godotenv godot install 4.5.1

      - name: Set using godot version
        run: godotenv godot use 4.5.1

      - name: Import Godot project
        shell: bash
        run: ~/.config/godotenv/godot/bin/godot --headless --import --quit

      - name: Run unit tests
        shell: bash
        run: ~/.config/godotenv/godot/bin/godot --headless --run-tests --quit-on-finish

      - name: Package for release
        run: ~/.config/godotenv/godot/bin/godot --headless --export-release "Windows Desktop" "build/win64/sheep_project.exe"

      - name: Upload Windows Build
        uses: actions/upload-artifact@v4
        with:
          name: sheep_project-windows
          path: build/win64/
          compression-level: 9
