# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: very-cool-self-hosted-mbanas

    steps:
      - uses: actions/checkout@v4

      - name: Run Ansible playbook to provision environment
        run: ansible-playbook -i deployment/ActionsRunner/hosts.yaml deployment/ActionsRunner/provision-test-env.yaml

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - run: |
          dotnet tool restore
          dotnet csharpier check .

      - name: Install godot version
        run: godotenv godot install 4.5.1

      - name: Set using godot version
        run: godotenv godot use 4.5.1

      # - name: Download Godot export templates
      #   shell: bash
      #   run: |
      #     TEMPLATE_VERSION="4.5.1.stable.mono"
      #     TEMPLATE_DIR="$HOME/.local/share/godot/export_templates/$TEMPLATE_VERSION"
      #     mkdir -p "$TEMPLATE_DIR"
      #     curl -L "https://github.com/godotengine/godot/releases/download/4.5.1-stable/Godot_v4.5.1-stable_mono_export_templates.tpz" -o /tmp/templates.tpz
      #     unzip -o /tmp/templates.tpz -d /tmp/templates
      #     mv /tmp/templates/templates/* "$TEMPLATE_DIR/"
      #     rm -rf /tmp/templates /tmp/templates.tpz

      - name: Import Godot project
        shell: bash
        run: ~/.config/godotenv/godot/bin/godot --headless --import --quit

      - name: Run unit tests
        shell: bash
        run: |
          ~/.config/godotenv/godot/bin/godot --headless --editor --quit
          ~/.config/godotenv/godot/bin/godot --headless --run-tests --quit-on-finish --path .

      - name: Package for release
        shell: bash
        run: |
          mkdir -p build/win64
          ~/.config/godotenv/godot/bin/godot --headless --export-release "Windows Desktop" "build/win64/sheep_project.exe"

      - name: Upload Windows Build
        uses: actions/upload-artifact@v3
        with:
          name: sheep_project-windows
          path: build/win64/
