# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: very-cool-self-hosted-mbanas

    steps:
      - uses: actions/checkout@v4

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

  format_check:
    needs: build
    runs-on: very-cool-self-hosted-mbanas

    steps:
      - run: |
          dotnet tool restore
          dotnet csharpier check .

  unit_test:
    needs: format_check
    runs-on: very-cool-self-hosted-mbanas

    steps:
      - name: Build
        run: dotnet build --no-restore

      - name: Install godot version
        run: godotenv godot install 4.5.1

      - name: Set using godot version
        run: godotenv godot use 4.5.1

      - name: Run unit tests
        shell: bash
        run: ${{ env.GODOT }} --run-tests --quit-on-finish
